/* 將你的中文字型檔放到同資料夾，優先使用 woff2；沒有的話也支援 ttf/otf/woff */
@font-face {
  font-family: 'HanPixel';
  src:
    url('/fonts/han.woff2') format('woff2'),
    url('/fonts/han.woff') format('woff'),
    url('/fonts/han.ttf') format('truetype'),
    url('/fonts/han.otf') format('opentype');
  font-display: swap;
}
